@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INVENTARIO 2021</h1>
    <p class="lead">INVENTARIO 2021 Fue creado para temas educativos y de aprendizaje fue utilizado con HTML, CSS y JavaScript..</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Mas informacion &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
       
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Mas informacion &raquo;</a></p>
    